/*우선순위 : TAG < CLASS < id <<<! -->
        <!--우선순위 : 같은 급일 때는 위 < 아래*/
li {
    color:rgb(217, 255, 0);
}
.Korea{
    color: crimson !important;
}
.inc{
    color: darkblue;
}
#le{
    color:violet;
}
li:nth-child(4){    /*1부터 시작*/
    text-decoration: underline;
}
h2+h3{  /*h2형제중 첫번째 h3*/
    background-color: aqua;
}
h2~h3{  /*h2형제중 여러 h3*/
    font-size: 40px;
}